@use 'variables.scss' as vars;

.header {
    &__toolbar {
        display: flex;
        justify-content: center;

        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: vars.$content-width;
        }

        &-logout {
            margin-left: auto;
        }
    }
}